.banner {
  display: flex;
  align-items: center;
}
.banner .banner-arrow {
  position: absolute;
}
.banner .banner-arrow-left {
  left: 40px;
}
.banner .banner-arrow-right {
  right: 40px;
  transform: rotate(180deg);
}
.banner .banner__inner {
  display: flex;
  align-items: center;
  background: #00B5DA;
  justify-content: space-between;
  position: relative;
}
.banner .banner__inner .banner-image {
  width: 60%;
  height: auto;
}
.banner .banner__inner .banner-titles {
  padding-left: 115px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.banner .banner__inner .banner-titles .title-h4 {
  font-family: "Oswald", sans-serif;
  font-size: 32px;
  font-weight: 500;
  color: #fff;
}
.banner .banner__inner .banner-titles .title-h1 {
  font-family: "Oswald", sans-serif;
  font-size: 78px;
  font-weight: 800;
  color: #fff;
}
.banner .banner__inner .banner-titles .banner-button {
  background-color: #fff;
  width: 250px;
  height: 61px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner .banner__inner .banner-titles .banner-button .btn-text {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #3C4242;
}
@media screen and (max-width: 1230px) {
  .banner .banner__inner .banner-titles {
    row-gap: 20px;
    padding-left: 80px;
  }
}
@media screen and (max-width: 1100px) {
  .banner .banner__inner .banner-titles .banner-arrow {
    position: absolute;
  }
  .banner .banner__inner .banner-titles .banner-arrow-left {
    left: 0px;
  }
  .banner .banner__inner .banner-titles .banner-arrow-right {
    right: 0px;
    transform: rotate(180deg);
  }
  .banner .banner__inner .banner-titles .banner-arrow {
    position: absolute;
  }
  .banner .banner__inner .banner-titles .banner-arrow-left {
    left: 0px;
  }
  .banner .banner__inner .banner-titles .banner-arrow-right {
    right: 0px;
    transform: rotate(180deg);
  }
  .banner .banner__inner .banner-titles .title-h4 {
    font-family: "Oswald", sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: #fff;
  }
  .banner .banner__inner .banner-titles .title-h1 {
    font-family: "Oswald", sans-serif;
    font-size: 39px;
    font-weight: 900;
    color: #fff;
  }
  .banner .banner__inner .banner-titles .banner-button {
    background-color: #fff;
    width: 200px;
    height: 50px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .banner .banner__inner .banner-titles .banner-button .btn-text {
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #3C4242;
  }
}
@media screen and (max-width: 680px) {
  .banner .banner__inner .banner-titles .title-h4 {
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
  }
  .banner .banner__inner .banner-titles .title-h1 {
    font-family: "Oswald", sans-serif;
    font-size: 28px;
    font-weight: 800;
    color: #fff;
  }
  .banner .banner__inner .banner-titles .banner-button {
    background-color: #fff;
    width: 120px;
    height: 30px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .banner .banner__inner .banner-titles .banner-button .btn-text {
    font-family: "Oswald", sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #3C4242;
  }
}
@media screen and (max-width: 560px) {
  .banner .banner__inner .banner-titles .title-h4 {
    font-family: "Oswald", sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
  }
  .banner .banner__inner .banner-titles .title-h1 {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    font-weight: 800;
    color: #fff;
  }
  .banner .banner__inner .banner-titles .banner-button {
    background-color: #fff;
    width: 60px;
    height: 20px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .banner .banner__inner .banner-titles .banner-button .btn-text {
    font-family: "Oswald", sans-serif;
    font-size: 10px;
    font-weight: 700;
    color: #3C4242;
  }
}

.deals {
  margin-top: 130px;
  margin-bottom: 100px;
}
.deals__inner {
  display: flex;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.deals__inner-item {
  border-radius: 12px;
  flex: 1;
  height: 355px;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.4);
}
.deals__inner-item:nth-child(1) {
  background: url(../images/download.jpg) no-repeat;
  background-size: cover;
}
.deals__inner-item:nth-child(2) {
  background: url(../images/download.jpg) no-repeat;
  background-size: cover;
}
.deals__inner-item-titles {
  color: #b121a8;
  padding-top: 66px;
  padding-left: 28px;
}
.deals__inner-item-titles .htitle-1 {
  font-size: 18px;
  font-weight: 800;
  padding-bottom: 24px;
}
.deals__inner-item-titles .htitle-2 {
  font-size: 34px;
  font-weight: 800;
  padding-bottom: 9px;
}
.deals__inner-item-titles .htitle-3 {
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 41px;
}
.deals__inner-item-titles .htitle-4 {
  font-size: 20px;
  font-weight: 800;
  text-decoration: underline;
}
@media only screen and (max-width: 800px) {
  .deals__inner-item-titles .htitle-1 {
    font-size: 14px;
    font-weight: 800;
    padding-bottom: 24px;
  }
  .deals__inner-item-titles .htitle-2 {
    font-size: 26px;
    font-weight: 800;
    padding-bottom: 9px;
  }
  .deals__inner-item-titles .htitle-3 {
    font-size: 12px;
    font-weight: 500;
    padding-bottom: 41px;
  }
  .deals__inner-item-titles .htitle-4 {
    font-size: 16px;
    font-weight: 800;
    text-decoration: underline;
  }
}

.new-arrival {
  margin-bottom: 100px;
}
.new-arrival .title {
  display: flex;
  align-items: center;
  margin-bottom: 70px;
}
.new-arrival .title .block {
  width: 6px;
  height: 30px;
  background-color: #8A33FD;
  border-radius: 10px;
  margin-right: 20px;
}
.new-arrival .title .new-title .new-text {
  font-size: 34px;
  font-weight: 600;
  color: #3C4242;
}
.new-arrival .arrival__inner {
  display: flex;
  align-items: center;
}
.new-arrival .arrival__inner .arrowl {
  margin-right: 24px;
}
.new-arrival .arrival__inner .arrival-block {
  margin-right: 40px;
}
.new-arrival .arrival__inner .arrival-block .block-image {
  border-radius: 12px;
  margin-bottom: 32px;
}
.new-arrival .arrival__inner .arrival-block .block-text {
  font-size: 20px;
  font-weight: 700;
  color: #3C4242;
}
.new-arrival .arrival__inner .arrival-block4 {
  margin-right: 24px;
}
.new-arrival .arrival__inner .arrival-block4 .block-image {
  border-radius: 12px;
  margin-bottom: 32px;
}
.new-arrival .arrival__inner .arrival-block4 .block-text {
  font-size: 20px;
  font-weight: 700;
  color: #3C4242;
}
.new-arrival .arrival__inner .arrowr {
  transform: rotate(180deg);
}

.saving-zone .title {
  display: flex;
  align-items: center;
  margin-bottom: 70px;
}
.saving-zone .title .block {
  width: 6px;
  height: 30px;
  background-color: #8A33FD;
  border-radius: 10px;
  margin-right: 20px;
}
.saving-zone .title .new-title .new-text {
  font-size: 34px;
  font-weight: 600;
  color: #3C4242;
}

.saving-zone-inner {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
}
.saving-zone-item {
  border-radius: 12px;
  grid-column: span 2;
}
.saving-zone-item .haw-shirts {
  background: url(../images/hawaiian-shirts.png) no-repeat;
  background-size: cover;
  height: 393px;
  border-radius: 12px;
}
.saving-zone-item .haw-shirts .zone-titles {
  color: #fff;
  padding-top: 66px;
  padding-left: 28px;
}
.saving-zone-item .haw-shirts .zone-titles .zone-title-1 {
  font-weight: 600;
  font-size: 28px;
  padding-bottom: 10px;
}
.saving-zone-item .haw-shirts .zone-titles .zone-title-2 {
  font-weight: 600;
  font-size: 14px;
  padding-bottom: 10px;
}
.saving-zone-item .haw-shirts .zone-titles .zone-title-3 {
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 30px;
}
.saving-zone-item .haw-shirts .zone-titles .zone-bottom {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
}
.saving-zone-item .haw-shirts .zone-titles .zone-button {
  width: 111px;
  height: 34px;
  border-radius: 6px;
  border: solid 1px #fff;
  background: transparent;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
}
.saving-zone-item .print-shirts {
  background-image: url(../images/print-shirts.png);
}
.saving-zone-item .print-shirts .zone-titles {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #fff;
  padding-right: 25px;
  padding-top: 34px;
  text-align: center;
}
.saving-zone-item .print-shirts .limited-button {
  width: 104px;
  border-radius: 4px;
  font-size: 12px;
  color: #fff;
  background: #3C4242;
  padding: 10px 0;
  margin-bottom: 28px;
}
.saving-zone-item .cargo-shirts {
  background-image: url(../images/cargo-shirts.png);
}
.saving-zone-item .cargo-shirts .zone-titles {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #3C4242;
  padding-left: 0;
  padding-right: 17px;
}
.saving-zone-item .cargo-shirts .urban-button {
  width: 111px;
  height: 34px;
  border-radius: 6px;
  border: solid 1px #3C4242;
  background: transparent;
  color: #3C4242;
  font-weight: 500;
  font-size: 12px;
}
.saving-zone-item-big {
  grid-column: span 3;
}
.saving-zone-item-big .urban-shirts {
  background-image: url(../images/urban-shirts.png);
  background-size: cover;
  height: 393px;
  border-radius: 12px;
}
.saving-zone-item-big .urban-shirts .zone-titles {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #3C4242;
  padding-left: 0;
  padding-right: 40px;
}
.saving-zone-item-big .urban-shirts .zone-titles .zone-bottom {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
}
.saving-zone-item-big .urban-shirts .zone-titles .urban-button {
  width: 111px;
  height: 34px;
  border-radius: 6px;
  border: solid 1px #3C4242;
  background: transparent;
  color: #3C4242;
  font-weight: 500;
  font-size: 12px;
}
.saving-zone-item-big .oversized-shirts {
  background-image: url(../images/oversized-shirts.png);
  height: 393px;
  border-radius: 12px;
  margin-bottom: 100px;
}
.saving-zone-item-big .oversized-shirts .zone-titles {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #3C4242;
  padding-left: 0;
  padding-right: 40px;
}
.saving-zone-item-big .oversized-shirts .zone-titles .zone-bottom {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
}
.saving-zone-item-big .oversized-shirts .zone-titles .oversized-button {
  width: 111px;
  height: 34px;
  border-radius: 6px;
  border: solid 1px #3C4242;
  background: transparent;
  color: #3C4242;
  font-weight: 500;
  font-size: 12px;
}

@media only screen and (max-width: 1000px) {
  .saving-zone-inner {
    grid-template-columns: repeat(2, 1fr);
  }
  .saving-zone-item {
    grid-column: span 1;
  }
  .saving-zone-item:nth-last-child(1) {
    grid-column: span 2;
  }
  .saving-zone-item-big {
    grid-column: span 1;
  }
}
@media only screen and (max-width: 620px) {
  .saving-zone-inner {
    grid-template-columns: repeat(1, 1fr);
  }
  .saving-zone-item {
    grid-column: span 1;
  }
  .saving-zone-item:nth-last-child(1) {
    grid-column: unset;
  }
  .saving-zone-item-big {
    grid-column: span 1;
  }
}
@media only screen and (max-width: 1290px) {
  .arrival__inner {
    overflow-x: auto;
  }
  .arrival__inner::-webkit-scrollbar {
    width: 10px;
  }
  .arrival__inner::-webkit-scrollbar-track {
    background: none;
  }
  .arrival__inner::-webkit-scrollbar-thumb {
    background: #8A33FD;
    border-radius: 10px;
  }
}
.after-saving {
  margin-bottom: 100px;
}
.after-saving .after__inner {
  display: flex;
}
.after-saving .after__inner .after-left {
  background-image: url(../images/after-saving.png);
  width: 50%;
  border-radius: 10px 0 0 10px;
  position: relative;
}
.after-saving .after__inner .after-left img {
  visibility: hidden;
  width: 100%;
}
.after-saving .after__inner .after-left .after-titles {
  width: 100%;
  padding: 0 74px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.after-saving .after__inner .after-left .after-titles .after-title-1 {
  font-size: 34px;
  font-weight: 800;
  color: white;
  padding-bottom: 30px;
}
.after-saving .after__inner .after-left .after-titles .after-title-2 {
  font-size: 20px;
  font-weight: 300;
  color: white;
  padding-bottom: 50px;
}
.after-saving .after__inner .after-left .after-titles .after-button {
  width: 168px;
  height: 46px;
  border-radius: 6px;
  color: #3C4242;
  background-color: white;
  font-weight: 600;
  font-size: 18px;
}
@media only screen and (max-width: 980px) {
  .after-saving .after__inner .after-left .after-titles .after-title-1 {
    font-size: 24px;
    font-weight: 800;
    color: white;
    padding-bottom: 30px;
  }
  .after-saving .after__inner .after-left .after-titles .after-title-2 {
    font-size: 16px;
    font-weight: 300;
    color: white;
    padding-bottom: 50px;
  }
}
@media only screen and (max-width: 800px) {
  .after-saving .after__inner .after-left .after-titles .after-title-1 {
    font-size: 22px;
    font-weight: 800;
    color: white;
    padding-bottom: 30px;
  }
  .after-saving .after__inner .after-left .after-titles .after-title-2 {
    font-size: 12px;
    font-weight: 300;
    color: white;
    padding-bottom: 50px;
  }
  .after-saving .after__inner .after-left .after-titles .after-button {
    width: 140px;
    height: 40px;
    border-radius: 6px;
    color: #3C4242;
    background-color: white;
    font-weight: 600;
    font-size: 18px;
  }
}
@media only screen and (max-width: 760px) {
  .after-saving .after__inner .after-left .after-titles .after-title-1 {
    font-size: 18px;
    font-weight: 800;
    color: white;
    padding-bottom: 30px;
  }
  .after-saving .after__inner .after-left .after-titles .after-title-2 {
    font-size: 12px;
    font-weight: 300;
    color: white;
    padding-bottom: 50px;
  }
  .after-saving .after__inner .after-left .after-titles .after-button {
    width: 140px;
    height: 40px;
    border-radius: 6px;
    color: #3C4242;
    background-color: white;
    font-weight: 600;
    font-size: 18px;
  }
}
@media only screen and (max-width: 650px) {
  .after-saving .after__inner .after-left .after-titles {
    padding: 0 35px;
  }
  .after-saving .after__inner .after-left .after-titles .after-title-1 {
    font-size: 16px;
    font-weight: 800;
    color: white;
    padding-bottom: 30px;
  }
  .after-saving .after__inner .after-left .after-titles .after-title-2 {
    display: none;
  }
  .after-saving .after__inner .after-left .after-titles .after-button {
    width: 140px;
    height: 40px;
    border-radius: 6px;
    color: #3C4242;
    background-color: white;
    font-weight: 600;
    font-size: 18px;
  }
}
.after-saving .after__inner .after-right {
  width: 50%;
  border-radius: 0 10px 10px 0;
}

.men-categories {
  margin-bottom: 100px;
}
.men-categories .title {
  display: flex;
  align-items: center;
  margin-bottom: 70px;
}
.men-categories .title .block {
  width: 6px;
  height: 30px;
  background-color: #8A33FD;
  border-radius: 10px;
  margin-right: 20px;
}
.men-categories .title .new-title .new-text {
  font-size: 34px;
  font-weight: 600;
  color: #3C4242;
}
.men-categories .men-categories-inner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.men-categories .men-categories-inner .men-categories-item .men-img {
  border-radius: 10px;
  width: 100%;
}
.men-categories .men-categories-inner .men-categories-item-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.men-categories .men-categories-inner .men-categories-item-bottom-info-title {
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  color: #2A2F2F;
}
.men-categories .men-categories-inner .men-categories-item-bottom-info-subtitle {
  font-size: 13px;
  font-weight: 500;
  color: #7F7F7F;
}

@media screen and (max-width: 1000px) {
  .men-categories-inner {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)) !important;
  }
}
@media screen and (max-width: 500px) {
  .men-categories-inner {
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr)) !important;
  }
}
.women-categories {
  margin-bottom: 100px;
}
.women-categories .title {
  display: flex;
  align-items: center;
  margin-bottom: 70px;
}
.women-categories .title .block {
  width: 6px;
  height: 30px;
  background-color: #8A33FD;
  border-radius: 10px;
  margin-right: 20px;
}
.women-categories .title .new-title .new-text {
  font-size: 34px;
  font-weight: 600;
  color: #3C4242;
}
.women-categories .women-categories-inner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.women-categories .women-categories-inner .women-categories-item .women-img {
  border-radius: 10px;
  width: 100%;
}
.women-categories .women-categories-inner .women-categories-item-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.women-categories .women-categories-inner .women-categories-item-bottom-info-title {
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  color: #2A2F2F;
}
.women-categories .women-categories-inner .women-categories-item-bottom-info-subtitle {
  font-size: 13px;
  font-weight: 500;
  color: #7F7F7F;
}

@media screen and (max-width: 1000px) {
  .women-categories-inner {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)) !important;
  }
}
@media screen and (max-width: 500px) {
  .women-categories-inner {
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr)) !important;
  }
}
.top-brands {
  margin-bottom: 100px;
}
.top-brands-block {
  background-color: #3C4242;
  border-radius: 12px;
}
.top-brands-block-title {
  padding-top: 45px;
  text-align: center;
}
.top-brands-block-title-htitle {
  padding-bottom: 25px;
  color: white;
  font-size: 50px;
  font-weight: 800;
}
.top-brands-block-title-subtitle {
  font-size: 22px;
  font-weight: 400;
  color: white;
}
.top-brands-block-title-subtitle span {
  font-weight: 700;
  color: #FBD103;
}
.top-brands-block-inner {
  padding: 65px 10px 60px 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)) !important;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.top-brands-block-inner-brand {
  background-color: white;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85px;
}

.limelight-categories {
  margin-bottom: 100px;
}
.limelight-categories .title {
  display: flex;
  align-items: center;
  margin-bottom: 70px;
}
.limelight-categories .title .block {
  width: 6px;
  height: 30px;
  background-color: #8A33FD;
  border-radius: 10px;
  margin-right: 20px;
}
.limelight-categories .title .new-title .new-text {
  font-size: 34px;
  font-weight: 600;
  color: #3C4242;
}
.limelight-categories .limelight-categories-inner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.limelight-categories .limelight-categories-inner .limelight-categories-item .women-img {
  border-radius: 10px;
  width: 100%;
}
.limelight-categories .limelight-categories-inner .limelight-categories-item-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.limelight-categories .limelight-categories-inner .limelight-categories-item-bottom-info-title {
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
  color: #2A2F2F;
}
.limelight-categories .limelight-categories-inner .limelight-categories-item-bottom-info-subtitle {
  font-size: 13px;
  font-weight: 500;
  color: #7F7F7F;
}
.limelight-categories .limelight-categories-inner .limelight-categories-item-bottom-info-price {
  font-size: 14px;
  font-weight: 700;
  color: #3C4242;
}

@media screen and (max-width: 1000px) {
  .limelight-categories-inner {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)) !important;
  }
}
@media screen and (max-width: 500px) {
  .limelight-categories-inner {
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr)) !important;
  }
}
.feedback-categories {
  margin-bottom: 100px;
}
.feedback-categories .title {
  display: flex;
  align-items: center;
  margin-bottom: 70px;
}
.feedback-categories .title .block {
  width: 6px;
  height: 30px;
  background-color: #8A33FD;
  border-radius: 10px;
  margin-right: 20px;
}
.feedback-categories .title .new-title .new-text {
  font-size: 34px;
  font-weight: 600;
  color: #3C4242;
}
.feedback-categories .feedback-categories-inner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 24px;
}
.feedback-categories .feedback-categories-inner-item {
  border: solid 2px #BEBCBD;
  border-radius: 12px;
}
.feedback-categories .feedback-categories-inner-item-profile {
  margin: 24px;
  display: flex;
  justify-content: space-between;
}
.feedback-categories .feedback-categories-inner-item-profile .feedback-categories-inner-item-profile-stars {
  height: 24px;
}
.feedback-categories .feedback-categories-inner-item-info {
  margin: 24px;
}
.feedback-categories .feedback-categories-inner-item-info-title {
  padding-bottom: 10px;
  font-size: 22px;
  font-weight: 500;
  color: #2A2F2F;
}
.feedback-categories .feedback-categories-inner-item-info-subtitle {
  font-size: 14px;
  font-weight: 400;
  color: #807D7E;
}

.footer {
  background-color: #3C4242;
  width: 100%;
}
.footer-title-item {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding-top: 60px;
  gap: 80px;
  justify-content: space-between;
}
.footer-title-item-info-title {
  font-family: "Roboto      ", monospace;
  font-size: 24px;
  font-weight: 700;
  color: white;
  padding-bottom: 15px;
}
.footer-title-item-info-nav {
  font-family: "Roboto      ", monospace;
  font-size: 16px;
  font-weight: 100;
  color: white;
}
.footer-title-item-info-nav ul > li {
  padding-bottom: 10px;
  list-style-type: none;
}
.footer-download-item {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-content: space-between;
  align-items: end;
  padding-top: 60px;
  row-gap: 20px;
}
.footer-download-item-left-inner {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.footer-download-item-left-inner-item {
  background-color: #fff;
  border-radius: 10px;
  width: 37px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-download-item-right-inner-title {
  font-size: 29px;
  font-weight: 700;
  color: white;
  padding-bottom: 20px;
}
.footer-download-item-right-inner-app {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  align-items: center;
}
.footer-download-item-right-inner-app-item {
  border-radius: 6px;
}
.footer-categories {
  margin-top: 50px;
  padding-bottom: 40px;
}
.footer-categories-inner {
  border-top: solid 1px white;
  border-bottom: solid 1px white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}
.footer-categories-inner-left {
  font-size: 24px;
  font-weight: 700;
  color: white;
}
.footer-date {
  font-size: 18px;
  font-weight: 700;
  color: white;
  text-align: center;
  padding-bottom: 60px;
}/*# sourceMappingURL=homepage.css.map */