.header {
  border-bottom: solid 1px #807D7E;
}
.header__inner {
  display: flex;
  align-items: center;
  padding: 30px 0;
}
.header__inner .left-block {
  padding-right: 76px;
  display: flex;
}
.header__inner .left-block .task-logo {
  width: 91px;
  height: 45px;
}
.header__inner .left-block .nav {
  display: flex;
  align-items: center;
}
.header__inner .left-block .nav__links {
  padding-left: 85px;
  list-style: none;
  display: flex;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.header__inner .left-block .nav__link {
  font-family: "Roboto      ", monospace;
  color: #807D7E;
  font-size: 22px;
  font-weight: 500;
}
.header__inner .left-block .nav .nav-small {
  display: none;
}
@media screen and (max-width: 900px) {
  .header__inner .left-block .nav__links {
    padding-left: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
  .header__inner .left-block .nav__link {
    font-family: "Roboto      ", monospace;
    color: #807D7E;
    font-size: 20px;
    font-weight: 500;
  }
}
@media screen and (max-width: 720px) {
  .header__inner .left-block .nav__links {
    padding-left: 50px;
    list-style: none;
    display: none;
    align-items: center;
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
  .header__inner .left-block .nav-small {
    display: block;
  }
  .header__inner .left-block .nav-small .nav__link {
    font-family: "Roboto      ", monospace;
    color: #807D7E;
    font-size: 20px;
    font-weight: 500;
  }
}
.header__inner .right-block {
  display: flex;
}
.header__inner .right-block .search-button {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  width: 267px;
  height: 44px;
  border-radius: 8px;
}
.header__inner .right-block .search-button .search-icon {
  padding-left: 20px;
  padding-right: 12px;
}
.header__inner .right-block .search-button .search-text {
  color: #807D7E;
  font-size: 16px;
  font-weight: 400;
}
@media screen and (max-width: 1140px) {
  .header__inner .right-block .search-button {
    width: 55px;
    justify-content: center;
  }
  .header__inner .right-block .search-button .search-icon {
    padding-left: 0px;
    padding-right: 0px;
  }
  .header__inner .right-block .search-button .search-text {
    display: none;
  }
}
.header__inner .right-block .small-buttons {
  margin-left: 60px;
  display: flex;
  align-items: center;
}
.header__inner .right-block .small-buttons .small-btn {
  background-color: #f6f6f6;
  width: 44px;
  height: 44px;
  border-radius: 8px;
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1300px) {
  .header__inner .right-block .small-buttons {
    display: none;
  }
}
.header__inner .right-block .burger-menu {
  display: none;
}
@media screen and (max-width: 1300px) {
  .header__inner .right-block .burger-menu {
    display: block;
    margin-left: 25px;
    background-color: #f6f6f6;
    width: 44px;
    height: 44px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 1300px) {
  .header__inner {
    display: flex;
    justify-content: space-between;
  }
}/*# sourceMappingURL=header.css.map */